body {
  font-family: "Open Sans", sans-serif;
  height: 100%; }

.nav-fade {
  transition: 0.7s all; }

#home {
  height: 100vh; }
  #home .centered-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 450px;
    height: 200px; }
  #home .home {
    font-weight: 300; }
  #home .resume-btn {
    font-size: 0.9rem; }

#about img {
  border: 3px solid white; }

#about p {
  line-height: 2.0; }

#footer h5 {
  font-size: 1rem; }

#footer i {
  padding: 0 5px;
  font-size: 1.1rem; }

@media (min-width: 1200px) {
  #footer h5 {
    font-size: larger; }
  #footer i {
    font-size: 1.4rem; } }
