body {
  font-family: "Open Sans", sans-serif;
  height: 100%; }

.centered-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 18.75rem;
  height: 12.5rem; }

.home {
  font-weight: 300; }

#main-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0; }
  #main-footer i {
    padding: 0 0.20rem;
    font-size: 1.5rem; }
