body {
  font-family: "Open Sans", sans-serif;
  height: 100%; }

#home {
  height: 100vh; }
  #home .centered-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 18.75rem;
    height: 12.5rem; }
  #home .home {
    font-weight: 300; }
  #home .resume-btn {
    font-size: 0.9rem; }

#footer i {
  padding: 0 0.20rem;
  font-size: 1.5rem; }
