@import 'mixins';

#footer {
	h5 {
		font-size: 1rem;
	}
	i {
		padding: 0 5px;
		font-size: 1.1rem;
	}

	@include bp(largeScreen) {
		h5 {
			font-size: larger;
		}

		i {
			font-size: 1.4rem;
		}
	}
}
