.nav-fade {
	transition: 0.7s all;
}

#home {
	.centered-div {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 18.75rem;
		height: 12.5rem;
	}
	.home {
		font-weight: 300;
	}
	.resume-btn {
		font-size: 0.9rem;
	}

	height: 100vh;
}
