$openSans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;

body{
  font-family: $openSans;
  height: 100%;
}

.centered-div{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 18.75rem;
  height: 12.5rem;
}

.home{
  font-weight: 300;
}

.resume-btn{
  font-size: 0.9rem;
}

#main-footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  i{
    padding: 0 0.20rem;
    font-size: 1.5rem;
  }
}